<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Elf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Elf.Properties.Settings>
            <setting name="savedLoc" serializeAs="String">
                <value>C:\Users\win\Desktop\Xmas</value>
            </setting>
            <setting name="savedID" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="savedInterval" serializeAs="String">
                <value>3000</value>
            </setting>
        </Elf.Properties.Settings>
    </userSettings>
</configuration>